# Ignore all files
*.*

# Except
!*.json
!*.js
!*.zip
!*.7z
!*.csv
!*.ain
!*.fnl
!*.ks
!*.tjs
!*.yaml
!Data/*
!*.rb
!.gitignore
!README.md
!game.ini

# Images
!map01.png
!map02.png
!map03.png
!map04.png
!map05.png
!map06.png
!map07.png
!map08.png
!map09.png
!map10.png
!map11.png
!map12.png
!map13.png
!map14.png
!map15.png
!map16.png
!map17.png
!map18.png
!map19.png
!map20.png
!map21.png
!map22.png!